body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #000000;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: top;
}

.header-bg {
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.hamburger-menu {
    position: fixed;
    top: 10px;
    left: 10px;
}

.hamburger-icon {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 2rem;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    color: white;
    z-index: 1001;  /* 메뉴보다 앞에 배치 */
}

.menu-content {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #111;
    padding-top: 20px;
    transition: left 0.3s ease-in-out;
}

.menu-content a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 1.2rem;
}

.menu-content a:hover {
    background: #444;
}

.menu-content.open {
    left: 0;
}
.content {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.3); /* 반투명 검은색 */
    backdrop-filter: blur(10px); /* 블러 효과 */
    padding: 20px;
    border-radius: 10px;
}


h1 {
    font-size: 2.5em;
    color: rgb(255, 255, 255);
}

h2, h3, h4 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.cta-button {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    background: white;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
}

.trailer, .links {
    padding: 50px 20px;
}

.video-container {
    position: relative;
    width: 100%; /* 부모 요소에 맞게 가득 차도록 설정 */
    max-width: 100%; /* 최대 너비 제한 */
    padding-top: 56.25%; /* 16:9 비율 유지 */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

ul li a {
    color: #ff0080;
    font-size: 1.2em;
    text-decoration: none;
}